!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}

    - # Assets
    != stylesheet_tag('app')
    != javascript_tag('app')
    != favicon_tag('favicon')

    - # General
    %title LNS

  %body= yield
